@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PlanetBenson2";
  src: url("/fonts/PlanetBenson2.woff2") format("woff2"),
    url("/fonts/PlanetBenson2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
